In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('single_family_home_values.csv') #Zillow

In [4]:
df.head(10)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.849160,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.888020,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963
2,184430015,3190 Wadsworth Blvd,Denver,CO,80033,39.761710,-105.081070,3,1.0,0,1882,23875,1917.0,2008-04-03,330000,NaN,NaN,488840
3,155129946,3040 Wadsworth Blvd,Denver,CO,80033,39.760780,-105.081060,4,3.0,0,2400,11500,1956.0,2008-12-02,185000,2008-06-27,0.0,494073
4,245107,5615 S Eaton St,Denver,CO,80123,39.616181,-105.058812,3,4.0,8,2305,5600,1998.0,2012-07-18,308000,2011-12-29,0.0,513676
5,3523925,6535 W Sumac Ave,Denver,CO,80123,39.615136,-105.069018,3,5.0,7,2051,6045,1996.0,2006-09-12,363500,2005-05-16,339000.0,496062
6,30560679,6673 W Berry Ave,Denver,CO,80123,39.616350,-105.070760,4,4.0,8,2051,6315,1997.0,2014-12-15,420000,2006-07-07,345000.0,514953
7,39623928,5640 S Otis St,Denver,CO,80123,39.615213,-105.070617,3,3.0,7,2051,8133,1997.0,2004-03-15,328700,1998-04-09,225200.0,494321
8,148975825,5342 S Gray St,Denver,CO,80123,39.620158,-105.063094,3,3.0,7,1796,5038,1999.0,2011-08-16,274900,2011-01-10,0.0,496079
9,184623176,4967 S Wadsworth Blvd,Denver,CO,80123,39.626770,-105.081990,3,3.0,0,2054,4050,2007.0,2015-12-01,407000,2012-10-30,312000.0,424514

In [5]:
df.shape

(15000, 18)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         14985 non-null  float64
 6   longitude        14985 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        14999 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  11287 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB

In [8]:
df.describe()

,id,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleAmount,priorSaleAmount,estimated_value
count,1.500000e+04,15000.000000,14985.000000,14985.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,14999.000000,1.500000e+04,1.128700e+04,1.500000e+04
mean,5.176229e+07,80204.919467,39.740538,-104.964076,2.708400,2.195067,6.164133,1514.504400,5820.76620,1929.517168,4.053563e+05,2.594350e+05,6.371625e+05
std,6.190876e+07,9.715263,0.023555,0.039788,0.897231,1.166279,1.958601,830.635999,3013.27947,29.937051,7.756998e+05,3.379387e+05,5.044185e+05
min,1.433670e+05,80022.000000,39.614531,-105.108440,0.000000,0.000000,0.000000,350.000000,278.00000,1874.000000,2.590000e+02,0.000000e+00,1.477670e+05
25%,1.004802e+07,80205.000000,39.727634,-104.978737,2.000000,1.000000,5.000000,986.000000,4620.00000,1907.000000,1.940000e+05,1.100000e+05,3.984348e+05
50%,2.563241e+07,80206.000000,39.748048,-104.957689,3.000000,2.000000,6.000000,1267.500000,5950.00000,1925.000000,3.200000e+05,2.100000e+05,5.183575e+05
75%,5.114222e+07,80207.000000,39.758214,-104.937522,3.000000,3.000000,7.000000,1766.250000,6270.00000,1949.000000,4.632000e+05,3.302400e+05,6.879692e+05
max,3.209481e+08,80209.000000,39.888020,-104.830930,15.000000,12.000000,39.000000,10907.000000,122839.00000,2016.000000,4.560000e+07,1.600000e+07,1.014531e+07

In [9]:
df2 = df.fillna(0)

In [13]:
#or
df = df.fillna(df.mean())

In [15]:
df.dropna(inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11173 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               11173 non-null  int64
 1   address          11173 non-null  object
 2   city             11173 non-null  object
 3   state            11173 non-null  object
 4   zipcode          11173 non-null  int64
 5   latitude         11173 non-null  float64
 6   longitude        11173 non-null  float64
 7   bedrooms         11173 non-null  int64
 8   bathrooms        11173 non-null  float64
 9   rooms            11173 non-null  int64
 10  squareFootage    11173 non-null  int64
 11  lotSize          11173 non-null  int64
 12  yearBuilt        11173 non-null  float64
 13  lastSaleDate     11173 non-null  object
 14  lastSaleAmount   11173 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  11173 non-null  float64
 17  estimated_value  11173 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 1.6+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         15000 non-null  float64
 6   longitude        15000 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        15000 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    15000 non-null  object
 16  priorSaleAmount  15000 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB

In [11]:
df3 = df.fillna(df.mean())

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         15000 non-null  float64
 6   longitude        15000 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        15000 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  15000 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB

In [17]:
df.estimated_value

0         239753
3         494073
4         513676
5         496062
6         514953
          ...
14994     784955
14996     807306
14997    1737156
14998    2008794
14999    1421401
Name: estimated_value, Length: 11173, dtype: int64

In [19]:
df[['estimated_value', 'yearBuilt']].head(2)

   estimated_value  yearBuilt
0           239753     2003.0
3           494073     1956.0

In [32]:
sns.boxplot(df.estimated_value)

AttributeError: 'list' object has no attribute 'estimated_value'

In [24]:
df[df.estimated_value <= 800000].shape

(9541, 18)

In [25]:
df.estimated_value <= 800000

0         True
3         True
4         True
5         True
6         True
         ...
14994     True
14996    False
14997    False
14998    False
14999    False
Name: estimated_value, Length: 11173, dtype: bool

In [31]:
df[df.estimated_value <= 800000]

AttributeError: 'list' object has no attribute 'estimated_value'

In [30]:
df = [df[df.estimated_value <= 1000000]]

AttributeError: 'list' object has no attribute 'estimated_value'

In [29]:
sns.boxplot(df.estimated_value)

AttributeError: 'list' object has no attribute 'estimated_value'